<%- include("header") -%>

<h1>About To-Do List</h1>
<p>Welcome to my to-do list page!</p>
<p>If you always forget to do things everything then this To-Do list is going to be the best reminder for you. Enjoy 😊</p>

<%- include("footer") -%>
